*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(-45deg, seagreen, teal);
  min-height: 100%;
  position: relative;
}

h1{
  color:white;
  font-family: Georgia;
  text-align: center;
}

p {
  color: white;
  font-size: 18px;
  min-width: 340px;
  max-width: 750px;
  margin: 0 auto;
}

.main-header {
  background-color: White;
  color: blue;
  height: 8vh;
  min-height: 25px;
  width: 95vw;
  margin: 0 auto;
  position: sticky;
  top: 0;
}

.main-header li{
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  width: 8em;
  position: relative;
  align: center;
}

.test{
  background-color: white;
  color: black;
}

.test2{
  background-color: black;
  color: white;
}

.logo{
  background-color: teal;
  background-image: url("toad.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 310px;
  width: 275px;
  margin: 10 auto;
  border: seagreen medium outset;
  border-radius: 10px;
  letter-spacing: 1.2;
}

.warning p{
  font-size: 50px;
}

.warning{
  font-size: 50px;
}
