*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(-45deg, seagreen, teal);
  height: 100vh;
}

h1{
  color:white;
  font-family: Georgia;
  text-align: center;
}

p {
  color: white;
  font-size: 18px;
  min-width: 340px;
  max-width: 750px;
  margin: 0 auto;
}

.test{
  background-color: white;
  color: black;
}

.test2{
  background-color: black;
  color: white;
}

.logo{
  background-color: teal;
  background-image: url("toad.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 310px;
  width: 275px;
  margin: 10 auto;
  border: seagreen medium outset;
  border-radius: 10px;
  letter-spacing: 1.2;
}

.warning p{
  font-size: 50px;
}

.warning{
  font-size: 50px;
}
