*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(-45deg, seagreen, teal);
}

h1{
  color:gold;
  font-family: Georgia;
  text-align: center;
}

p {
  color: white;
  font-size: 18px;
  min-width: 340px;
  max-width: 750px;
  margin: 0 auto;
}

.main-header {
  background-color: green;
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: sticky;
  top: 0;
  padding: 0.3em 5vw;
  margin: 0 auto;
  border-radius: 100px;
  height: 4em;
  align-content: center;
  align-items: center;
  justify-content: center;
  transition-property: all;
  transition-duration: .2s;
}

.main-header:hover{
  height: 5em;
  width: 91vw;
  padding: 0.7em 5vw;
}

.linkbox{
  display: flex;
  background-color: teal;
  color: aqua;
  font-size: 1.6em;
  font-weight: bold;
  width: 8em;
  height: auto;
  padding: .3em 0;
  overflow: hidden;
  border-radius: 8px;
  transition-property: all;
  transition-duration: .2s;
  justify-content: center;
  align-items: center;
}

.linkbox:hover{
  background-color: purple;
  color: gold;
  padding: .5em 0;
  font-size: 1.7em;
  height: 3em;
}

.container{

}

.test{
  background-color: white;
  color: black;
}

.test2{
  background-color: black;
  color: white;
}

.logo{
  background-color: teal;
  background-image: url("toad.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 310px;
  width: 275px;
  margin: 10 auto;
  border: seagreen medium outset;
  border-radius: 10px;
  letter-spacing: 1.2;
}

.warning p{
  font-size: 50px;
}

.warning{
  font-size: 50px;
}
